<!-- Seção de Contacto -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contacto</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- Para configurar o endereço de e-mail do formulário de contacto, vá a mail/contact_me.php e atualize o endereço de e-mail no ficheiro PHP na linha 19. -->
        <!-- O formulário deve funcionar na maioria dos servidores web, mas se não estiver a funcionar, pode ser necessário configurar o seu servidor web de forma diferente. -->
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Nome</label>
              <input type="text" class="form-control" placeholder="Nome" id="name" required
                data-validation-required-message="Por favor, insira o seu nome.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="email">Endereço de Email</label>
              <input type="email" class="form-control" placeholder="Endereço de Email" id="email" required
                data-validation-required-message="Por favor, insira o seu endereço de email.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="phone">Número de Telefone</label>
              <input type="tel" class="form-control" placeholder="Número de Telefone" id="phone" required
                data-validation-required-message="Por favor, insira o seu número de telefone.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="message">Mensagem</label>
              <textarea rows="5" class="form-control" placeholder="Mensagem" id="message" required
                data-validation-required-message="Por favor, insira uma mensagem."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-success btn-lg">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
